{% extends 'CorvusFrontendBundle:' ~ theme_manager.getTemplateChoice ~ ':base.html.twig' %}

{% block metaTitleStart %}{{ portfolio_info.generalSettings.homeMetaTitle }}{% endblock %}

{% block mainContent %}
	<div class="jumbotron">
		<h2>Welcome to my Portfolio</h2>
		<p>This is the portfolio site of {{ portfolio_info.getAbout.firstname }} {{ portfolio_info.getAbout.lastname }}</p>
		<a class="btn btn-primary btn-lg" href="{{ path('CorvusFrontendBundle_About') }}" role="button">Find out more about me</a>
	</div>
{% endblock %}