@media screen and (max-width: 400px) { 
    #mainNavBar {
        display: block;
        text-align: center
    }
    
    #adminBar {
        display: block;
        text-align: center;
        border: none;
    }
    
    #mainNav, #mainNav ul, #mainNav ul li {
        display: block;
        text-align: center;
    }
    
    #mainNav ul li:first-child {
        display: none;
    }
    
    #mainNav ul > li:nth-of-type(2) {
        border: none;
    }
    
    #mainNav a, #adminBar a {
        padding: 0;
    }
    
    #footerNav {
        display: none;
    }
}