/web/bundles/
/web/css/
/web/uploads/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
.DS_Store
src/Corvus/AdminBundle/Resources/config/corvusdb.yml
/web/js
/web/fonts/
/web/assetic/