{% extends 'CorvusFrontendBundle:' ~ portfolio_info.templateChoice ~ ':index.html.twig' %}

{% block metaTitleStart %}Home | {% endblock %}

{% block mainContent %}
	<header class="headerDecoration">
		<hgroup>
			<h2>Hia, My names Thomas Coleman</h2>
		</hgroup>
	</header>
	<div class="boxDecoration">
		<h3>I like programs!</h3>
		<p>This is my portfolo site, the site is powered by Corvus, which is the portfolio Content Management System I created. Corvus was the deliverable part of my 3rd year Web Development project.</p>
	</div>
{% endblock %}