h1, h2, h3, h4, h5, h6 {
    color: #0033b8;
    margin-bottom: 10px;
    padding: 0;
}

h3 {
    color: #2255D8;
}

ol {
	display: block;
	list-style-type: decimal;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

ul.square-list {
    display: block;
    list-style: none;
    -webkit-margin-before: 0.5em;
    -webkit-padding-start: 1em;
	border-left: 10px solid #F2F3F1;
	border-top: 2px solid #F7F7F7;
	background-color: #FCFCFC;
}

ul.square-list li::before {
	color: #A3A3A3;
	font-size: 20px;
	content: '\25A0';
	padding-right: 1em;
}

ul.list-fixed, ol.list-fixed {
	display: block;
    -webkit-margin-before: 0.5em;
    -webkit-padding-start: 1em;
}

ul.no-list, ol.no-list {
	list-style: none;
}

#mainContent {
    box-shadow: inset 0px 0px 5px #000;
}

#pageFooter {
	color: #000000;
	border-top: 3px solid #E0E0E0;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

label.required::after, .required-hint::after {
	content: ' *\00a0'; // *&nbsp;
	color: #FF0000;
	font-size: 20px;
}

input[type="text"]:hover, input[type="url"]:hover, input[type="email"]:hover, textarea:hover, fieldset select:hover {
    border: 2px solid #99CCFF;
}

img {
    vertical-align: text-top;
}

a img {
    vertical-align: text-bottom;
}