{% extends 'CorvusFrontendBundle:Default:index.html.twig' %}

{% block mainContent %}
	<header class="headerDecoration">
		<hgroup>
			<h2>Opps. This doesnt exist!</h2>
		</hgroup>
	</header>
	<div class="boxDecoration">
		The server threw a 404 error. Go back and make sure what you are trying to find exists.
	</div>
{% endblock %}