{% extends 'CorvusFrontendBundle:Default:index.html.twig' %}

{% block mainContent %}
	<header class="headerDecoration">
		<hgroup>
			<h2>Login</h2>
			<p>Please enter a username/password combination below to login</p>
		</hgroup>
	</header>
	<div class="boxDecoration">

		{% if error %}
    		<div>{{ error.message }}</div>
		{% endif %}

		<form action="{{ path('login_check') }}" method="post">
		    <label for="username">Username:</label>
		    <input type="text" id="username" name="_username" value="{{ last_username }}" />

		    <label for="password">Password:</label>
		    <input type="password" id="password" name="_password" />
		    <input type="hidden" name="_target_path" value="/Admin" />

		    <button type="submit">login</button>
		</form>
	</div>
{% endblock %}