body {
    font: 16px/24px Tahoma, Arial, sans-serif;
}

h1 {
    font: 50px/75px Arial, sans-serif normal;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 22px;
}

h2, h3 {
    font-family: ‘Courier New’, Courier, monospace;
}

p {
    margin-bottom: 16px;
}

#mainContainer {
}

.boxDecoration
{
    border: 1px solid #444444;
    background-color: #E6E6E6;
    border-radius: 5px 5px;
    -webkit-box-shadow: 2px 2px 5px rgba(000, 000, 000, .80);
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .70), 2px 2px 5px rgba(000, 000, 000, .70);
}

.boxDecoration h2 {
    color: #111;
    text-shadow: 0px 1px 2px #999;
}

.boxDecoration h3 {
    color: #333;
    text-shadow: 0px 1px 2px #666;
}

.boxDecoration p {
    color: #666;
}

.headerDecoration {
    background-color: #666672;
    -webkit-box-shadow: 1px 1px 1px rgba(200, 200, 200, .20), inset 0px 0px 10px rgba(0, 0, 0, 100);
    box-shadow: inset -2px -2px 10px rgba(0, 0, 0, 100);
    border-radius: 5px 5px;
    border-bottom: 1px solid #EEEEEE;
    text-shadow: 2px 2px #000;
    color: #FFF;
    margin-bottom: 10px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000 no-repeat scroll center center;
}

#imageCount {
    text-align: center;
    position: fixed;
    height: auto;
    width: auto;
    color: #FFF;
    border: 1px solid #FFF;
}

#lightbox {
    text-align: center;
    position: fixed;
    height: auto;
    width: 100%;
    color: #FFF;
    border: 1px solid #FFF;
}

.lightboxleft, .lightboxright {
    position: fixed;
    font-size: 27px;
    color: #EEE;
}

.lightboxDecoration {
    background: #333;
    width: auto;
    display: block;
}

.lightboxDecoration:nth-of-type(1) {
    border-bottom: 1px solid #FFF;
}

.lightboxDecoration:nth-of-type(2) {
    border-top: 1px solid #FFF;
}

.image {
    display: block;
}

.displayInline {
    display: inline;
}

#pageFooter {
    border: 2px solid #000000;
    background-color: #022E6F;
    color: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .50), inset 0px 0px 10px rgba(0, 0, 0, 100);
    color: #EEEEEE;
}

#footerNav a {
    color: #DDDDDD;
    text-decoration: underline;
}

#footerNav a:hover {
    color: #FFFFFF;
    text-decoration: none;
    -webkit-transition: color 1s ease-out;
    -moz-transiton: color 1s ease-out;
}

#subFooter {
    border-top: 1px solid #FFFFFF;
    background: #252B64;
}

ul.square-list {
    display: block;
    list-style: square;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}