{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block mainContent %}
    <h2>Downloads</h2>
    <p>This part of the system has not been implemented yet. The plan is to allow files to be uploaded which can then be downloaded. The downloads should feature a title, description, etc. The main idea would be to upload things which would be good to distribute to people viwing the portfolios. For example a designer may wish to upload an free icon set etc.</p>
    <p>If possible it might also be desirable to be able to link this section to paypal so payed downloads could be created. This could for example be applied to the designers icons, to make a non-free version of the icon set.</p>
    <p>So look for this feature soon, the free downloads functionality will likely be implemented fairly soon after the first prototype, probably in the second prototype.</p>
{% endblock %}