{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block mainContent %}

    <h2>Admin Dashboard</h2>

    <h3>Ooopsie. This is not the page you are looking for!</h3>
    <p>
        The server threw a 404 error. Go back and make sure what you are trying to find exists.
    </p>

{% endblock %}