{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block mainContent %}

    <h2>Admin Dashboard</h2>

    <h3>Welcome to Corvus</h3>
    <p>
        This is the backend control panel for your installation of Corvus. Corvus is a Portfolio Content Management System (PCMS). This is tailored to provide an easy and efficient way to manage portfolio information, aswell as provide some elements of Personal Development Planning (PDP).
    </p>
    <p>
        This project was created for several reasons:
        <ol>
        	<li>To fill a gap in Portfolio Management software and Personal Development aiding software. Several solutions exist for either, but not many systems have much of a merge between the two.</li>
        	<li>To serve as a portfolio section for my own website</li>
        	<li>Last but not least, to be created as part of my 3rd year university project.
        </ol>
    </p>
    <h3>Features of Corvus</h3>
    <p>
    	Easily allows the following to be recorded and edited:
        <ul class="square-list">
        	<li>Education/Skills</li>
        	<li>Work History - Past work experience</li>
        	<li>Project History - Previous projects which you have had some contribution</li>
        </ul>
        Other stuff.....
    </p>

{% endblock %}