{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
    <li><a href="{{ path('CorvusAdminBundle_SiteDesign') }}">Site Design</a></li>
	<li class="active">Theme Editor</li>
{% endblock %}

{% block mainContent %}
    {% include 'ILPBootstrapThemeBundle:Default:themeEditor.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link type="text/css" href="{{ asset(theme_editor.bootstrap_path) }}" rel="stylesheet/less" />
{% endblock %}

{% block javascripts %}
    {% include 'ILPBootstrapThemeBundle:Default:editor-js.html.twig' %}

    <script>
        var clucklesEditor = new ClucklesEditor(less, {
            scope: "#mainContainer",
            theme: {
                src: '{{ asset(theme_manager.getCurrentThemeJsonPath) }}'
            },
            export: {
                target: '#download-panel-footer',

                css: {},
                json: {},

                save: {
                    formats: ['css', 'json'],
                    append: "#download-panel-footer",
                    url: '{{ path('ilp_bootstrap_theme_EditorSaveModifications') }}',
                    callback: function () {
                        alert('Theme Changes have been Saved');
                    }
                }
            }
        });
    </script>
{% endblock %}