<IfModule mod_rewrite.c>
    RewriteEngine On

    # Add a trailing slash to any non-existent files
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php/$1 [QSA,L]
    RewriteRule ^$ app.php/ [R,NC,L]
</IfModule>
